@import '~themes/global.less';

.faq-title {
  font-family: @dabacus-font-heavy;
  font-size: 36px;
  line-height: 36px;
  margin-top: 88px;
  margin-bottom: 38px;
}

.faqs {
  &.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background: #f9f9f9;
    color: #aab0b8;
    font-family: @dabacus-font-medium;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;

    img {
      float: right;
      margin-top: 7px;
      margin-right: 8px;
    }

    &:hover {
      background: none;
    }
  }

  &.ant-collapse > .ant-collapse-item {
    margin-bottom: 40px;
  }

  &.ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }

  &.ant-collapse {
    border: none;
    background-color: transparent;
  }

  &.ant-collapse .ant-collapse-content {
    border-top: none;
    font-family: @dabacus-font-medium;
    font-size: 18px;
    color: #aab0b8;

    .ant-collapse-content-box {
      width: 80%;
    }
  }

  &.ant-collapse
    > .ant-collapse-item.ant-collapse-item-active
    > .ant-collapse-header {
    background: #fff;
    color: #000;
  }
}

@media only screen and (max-width: 768px) {
  .faqs {
    &.ant-collapse .ant-collapse-content {
      .ant-collapse-content-box {
        width: 100%;
      }
    }
  }
}
