@import '~antd/es/style/themes/default.less';

@font-face {
  font-family: 'Avenir';
  src: url('../assets/Avenir-Book-woff-5.ttf');
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../assets/Avenir-Medium-woff-7.ttf');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../assets/AVENIR-BLACK-3.ttf');
}

@dabacus-font: 'Avenir';
@dabacus-font-medium: 'Avenir-Medium';
@dabacus-font-heavy: 'Avenir-Heavy';
@theme-color: #5956ff;
