@import '~antd/es/style/themes/default.less';

@font-face {
  font-family: 'Avenir';
  src: url('../assets/Avenir-Book-woff-5.ttf');
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../assets/Avenir-Medium-woff-7.ttf');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../assets/AVENIR-BLACK-3.ttf');
}

@dabacus-font: 'Avenir';
@dabacus-font-medium: 'Avenir-Medium';
@dabacus-font-heavy: 'Avenir-Heavy';
@theme-color: #5956ff;

html,
body,
#root {
  height: 100%;
  font-family: @dabacus-font;
  font-size: 16px;
}

body {
  background: #fff;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.ant-pro-page-container-children-content {
  margin-left: 0;
  margin-right: 0;
}

.show-mobile {
  display: none;
}

.hide-mobile {
  display: block;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1345px) {
  .ant-pro-page-container-children-content {
    padding: 0 24px;
  }
}

@media only screen and (max-width: 768px) {
  .ant-pro-page-container-children-content {
    padding: 0 24px;
  }

  .show-mobile {
    display: block;
  }

  .hide-mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .ant-pro-page-container-children-content {
    margin-left: 0;
    margin-right: 0;
  }
}
