@import '~themes/global.less';

.footer {
  padding: 40px;
  z-index: 99;
  position: relative;

  .footerTitle {
    font-family: @dabacus-font-heavy;
    margin-bottom: 8px;
  }

  .footerLink {
    display: block;
    color: @text-color;
    margin: 8px 0;
  }
}

@media only screen and (max-width: 768px) {
  .linkCol {
    margin-bottom: 32px;
  }
}
